{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'apps/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'apps/css/auth_style.css' %}">
    <meta name="robots" content="noindex, follow">
</head>
<body>
<div class="main">
    {% block main_content %}{% endblock %}
</div>

{#<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>#}
{#<script src="{% static 'apps/js/beacon.js' %}"></script>#}
{#<script src="{% static 'apps/js/awsome_phone.js' %}"></script>#}
<script src="https://unpkg.com/imask"></script>

<script>
    let element = document.getElementById('phone');
    let maskOptions = {
        mask: '+{998}(00)000-00-00',
        lazy: false
    }
    let mask = new IMask(element, maskOptions);
</script>
</body>
</html>