{% load crispy_forms_tags %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Update</title>

</head>
<body>
<div class="main">
    <selection class="form">
        <div class="container">
            <h2 class="form-title">Change password</h2>
            <form method="post" action="{% url 'change_password' %}">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        <input type="password" placeholder="Old password" name="old_password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        <input type="password" placeholder="New Password" name="new_password1">
                        <input type="password" placeholder="Confirm Password" name="new_password2">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
                <a type="button" class="btn btn-sm btn-danger" href="{% url 'user_update_view' request.user.id %}">Cancel</a>
            </form>
        </div>
    </selection>
</div>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script src="{% static 'apps/js/beacon.js' %}"></script>
<script src="{% static 'apps/js/awsome_phone.js' %}"></script>
</body>
</html>


