<!-- Trending Post 2 -->
<div class="trending-post">
    <div class="trending-post_image">
        <div class="rank">2</div>
        <!--Img size is 100 x 100 -->
        <img src="{% static 'apps/assets/images/backgrounds/trending-post-b.png' %}"
             alt="Free Ui Design Resources"/>
    </div>
    <div class="trending-post_content">
        <!-- Category Header -->
        <h5>Ui/UxDesign</h5>
        <a href="{% url 'blog_category_page'?category={{ categories.slug }} %}">Free Ui Design Resources</a>
        <div class="info__time"><i class="far fa-clock"></i>
            <p>Nov 02, 2020</p>
        </div>
    </div>
</div>

<!-- Trending Post 3 -->
<div class="trending-post">
    <div class="trending-post_image">
        <div class="rank">3</div>
        <!--Img size is 100 x 100 -->
        <img src="{% static 'apps/assets/images/backgrounds/trending-post-c.png' %}"
             alt="Here's How Your Diet Can Help Yo Excel in Exams"/>
    </div>
    <div class="trending-post_content">
        <!-- Category Header -->
        <h5>Web Development</h5>
        <a href="{% url 'blog_category_page'?category={{ categories.slug }} %}">Should you Learn PHP iN 2020</a>
        <div class="info__time"><i class="far fa-clock"></i>
            <p>Nov 02, 2020</p>
        </div>
    </div>
</div>

<!-- Trending Post 4 -->
<div class="trending-post">
    <div class="trending-post_image">
        <div class="rank">4</div>
        <!--Img size is 100 x 100 -->
        <img src="{% static 'apps/assets/images/backgrounds/trending-post-d.png' %}"
             alt="why others accept while AudioJungle..."/>
    </div>
    <div class="trending-post_content">
        <!-- Category Header -->
        <h5>Open-source</h5>
        <a href="{% url 'blog_category_page'?category={{ categories.slug }} %}">Fuse Free Open source Blog...</a>
        <div class="info__time"><i class="far fa-clock"></i>
            <p>Nov 02, 2020</p>
        </div>
    </div>
</div>

<!-- Trending Post 5 -->
<div class="trending-post">
    <div class="trending-post_image">
        <div class="rank">5</div>
        <!--Img size is 100 x 100 -->
        <img src="{% static 'apps/assets/images/backgrounds/trending-post-e.jpg' %}"
             alt="Is node Js Dead??...Long live Deno"/>
    </div>
    <div class="trending-post_content">
        <!-- Category Header -->
        <h5>Web Development</h5>
        <a href="{% url 'blog_category_page'?category={{ categories.slug }} %}">Is node Js Dead??...Long live Deno</a>
        <div class="info__time"><i class="far fa-clock"></i>
            <p>Nov 02, 2020</p>
        </div>
    </div>
</div>