{% extends 'apps/parts/base.html' %}
{% block title %}
    User Settings
{% endblock %}
{% load static %}
{% block main_content %}

    <link href="{% static 'apps/user/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
    <script src="{% static 'apps/user/css/bootstrap.min.css' %}"></script>
    <script src="{% static 'apps/user/js/jquery-1.11.1.min.js' %}"></script>
    <!------ Include the above in your HEAD tag ---------->
<div>asd</div>
<div>asd</div>
<div>asd</div>
<div>asd</div>
    <div class="container">
        <div class="row">
            <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
                <A href="edit.html">Edit Profile</A>

                <A href="edit.html">Logout</A>
                <br> {# May 05,2014,03:00 pm  #}
                <p class=" text-info">{{ user.date_joined|date:"M  d, Y ," }}{{ user.date_joined|time:"h:i  a" }}</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ user.username }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center">
                                <img alt="User Pic" src="{{ user.image.url }}" class="img-circle img-responsive"></div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                    <tr>
                                        <td>Department:</td>
                                        <td>{{ user.workspace }}</td>
                                    </tr>
                                    <tr>
                                        <td>Hire date:</td>
                                        <td>06/23/2013</td>
                                    </tr>
                                    <tr>
                                        <td>Date of Birth</td>
                                        <td>{{ user.birthday }}</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        <td>{{ user.gender }}</td>
                                    </tr>
                                    <tr>
                                        <td>Home Address</td>
                                        <td>{{ user.address }}</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                    </tr>
                                    <td>Phone Number</td>
                                    <td>{{ user.phone }}(Landline)
                                    </td>

                                    </tr>

                                    </tbody>
                                </table>

                                <a href="{% url 'create_post' %}" class="btn btn-primary">My Posts</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button"
                           class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button"
                               class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
